* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05051f;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    min-height: 700px;

    padding: 40px 30px;

    border-radius: 40px;

    background: linear-gradient(
        180deg,
        #09092b 0%,
        #05051f 100%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 48px;
    margin-bottom: 10px;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.subtitle {
    color: #8f8f9f;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 18px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input {
    width: 100%;
    height: 55px;

    border: 1px solid #2a2a4d;
    border-radius: 15px;

    background-color: #171734;

    padding: 0 18px;

    color: white;
    font-size: 16px;

    outline: none;
}

input::placeholder {
    color: #8a8aa5;
}

input:focus {
    border-color: #7c3aed;
}

button {
    width: 100%;
    height: 55px;

    border: none;
    border-radius: 15px;

    background: linear-gradient(
        90deg,
        #7c3aed,
        #4f46e5
    );

    color: white;
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    margin-top: 10px;
}

.footer-text {
    margin-top: 30px;
    color: #8f8f9f;
}

.footer-text a {
    color: #7c3aed;
    text-decoration: none;
    font-weight: 600;
}